__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.venv/
venv/
.env

# Database
*.db
!database/seed.db # If you want to keep a seed db

# Build artifacts
build/
dist/
*.spec

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
.claude/
